.category-list {
  list-style-type: none;
  padding: 0;
}

.category-link {
  background-color: whitesmoke;
  color: rgb(70, 62, 62);
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.category-link:hover {
  color: rgb(70, 62, 62);
  cursor: pointer;
}
.category-link.active {
  color: whitesmoke;
  background-color: rgb(70, 62, 62);
}
#category-add-button {
  float: right;
}
