html {
  background: url(./bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Inter', Helvetica;
}

h2 {
  font-size: 30px;
}
h4 {
  text-decoration: underline;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.guess-group {
  text-align: left;
  font-weight: 400;
}
input[type='text'],
input[type='password'] {
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-shadow: 2px 2px 4px #00000048;
  transition: 0.75s;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

main .error {
  padding: 40px;
}

main .error a {
  display: block;
}

button {
  letter-spacing: 2px;
  background-color: #c9dada;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 2px;
}

button:hover {
  border: none;
  color: #c9dada;
  background-color: black;
  transition: 0.75s;
}

p {
  font-size: 18px;
}

.leaflet-container {
  height: 50vh;
  width: 50vw;
  margin: auto;
}
.button-group {
  display: flex;
  flex-direction: row;
}

#mapid {
  height: 200px;
}
