#category-title-input {
  display: block;
  max-width: 500px;
}

.item {
  --item-height: 120px;
  background-color: #27292c;
  color: lightgrey;
  height: var(--item-height);
  width: 90%;
  margin: 8px 0 8px 8px;
}

.item-delete {
  --item-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--item-button-height);
  position: relative;
  top: calc((var(--item-button-height) + 32px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--item-height));
}
.item-delete:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.item-title {
  color: #b5b3b3;
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 32px;
}
.item-title a {
  color: #b5b3b3;
  position: relative;
  text-decoration: none;
}
.item-title a:hover {
  color: rgb(238, 213, 101);
}

.item-img {
  margin-top: -32px;
  height: 100%;
  width: auto;
}
