#category-title-input {
  display: block;
  max-width: 500px;
}

.item {
  --item-height: 120px;
  background-color: rgba(70, 62, 62, 0.9);
  color: whitesmoke;
  height: var(--item-height);
  width: 90%;
  margin: 8px 0 8px 8px;
  border-radius: 5px;
}

.item-delete {
  --item-button-height: 32px;
  color: rgb(70, 62, 62);
  border: 0;
  background-color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--item-button-height);
  position: relative;
  top: calc((var(--item-button-height) + 32px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--item-height));
  border-radius: 0px 0px 5px 5px;
}
.item-delete:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.item-title {
  padding-left: 32px;
  position: relative;
  z-index: 3;
  color: whitesmoke;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 32px;
}
.item-title a {
  position: relative;
  text-decoration: none;
}

.item-img {
  z-index: 2;
  position: relative;
  margin-top: -32px;
  height: 95%;
  width: auto;
  border-style: inset;
  border-color: rgba(245, 245, 245, 0.877);
  background-color: rgba(10, 10, 10, 0.493);
  margin-bottom: 2px;
}
