.dashboard {
  display: grid;
  grid-template-areas: 'categories main-list' 'info main-list';
  grid-template-columns: 33% 66%;
  grid-template-rows: 33% 66%;
  height: auto;
  background-color: whitesmoke;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.categories {
  grid-area: categories;
  color: #fff;
  max-width: 300px;
}
.info {
  grid-area: info;
  text-shadow: 1px 0px 2px rgb(43, 42, 42);
  margin-top: 12px;
  max-width: auto;
  pointer-events: none;
}
.main-list {
  grid-area: main-list;
}

.location-info {
  margin-top: 50%;
}
.add-button {
  background-color: #cacaca;
  border-radius: 30px;
  border: 0;
  color: black;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

.add-button:hover {
  cursor: pointer;
}

.item-page-section p {
  padding: 5px;
  text-align: center;
  font-size: 28px;
}

.item-page-section button {
  float: right;
}

.list-button-group {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.back-category-name {
  color: #b5b3b3;
  font-size: 40px;
  height: 50vh;
  margin: 0 0 0 auto;
  text-orientation: upright;
  width: 75px;
  writing-mode: vertical-lr;
}
.back-button-component {
  margin: 35px 20px 25px 25px;
}

.location-form {
  display: flex;
  flex-direction: column;
}
.add-remove-input {
  display: flex;
  justify-content: space-around;
}
