.slider-image {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.right-arrow {
  position: absolute;
  right: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  pointer-events: auto;
}

.left-arrow {
  position: absolute;
  left: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  pointer-events: auto;
}

.slide {
  opacity: 0;
  transition-duration: 0.7s ease;
}

.slide.active {
  position: relative;
  height: 400px;
  width: 90%;
  overflow: hidden;
  opacity: 1;
  transition-duration: 0.7s;
  transform: scale(1.08);
  pointer-events: none;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
